html,body,#intro{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#intro{

    background: url("/img/Revols.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #bdbdbd;
}

#cent{
    color: white;
    margin-top: 30vh;
    text-align: center;
    
    
}
#bold{
    font-weight:bolder;
    line-height: 2;
}
#round{
    border-radius: 30px;
    background-color: #00b0ff;
    color: white;
}
#sold{
    border: 2px solid black;
    border-radius: 50%;
    
}